<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Change Rejected | Workship
    link(rel="stylesheet", href="https://rsms.me/inter/inter-ui.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700")
    link(rel="stylesheet", href="/assets/css/unprocessable.css")
    link(rel="shortcut icon", href="/assets/img/workship-icon-16.png")
    link(rel="apple-touch-icon", href="/assets/img/workship-icon-57.png")
    link(rel="apple-touch-icon", href="/assets/img/workship-icon-72.png", sizes="72x72")
    link(rel="apple-touch-icon", href="/assets/img/workship-icon-114.png", sizes="114x114")
  body

    main.unprocessable
      img.unprocessable--top-right(src="/assets/img/workship-422-error-top-right.png", alt="workship pattern")
      img.unprocessable--bottom-left(src="/assets/img/workship-422-error-bottom-left.png", alt="workship pattern")
      .container
        .unprocessable__items
          .unprocessable__item
            h1 The change your requested has been rejected :(
            p You may have tried to change something you don't have access to.
            p.unprocessable--action If you have any issues regarding this, 
              br
              | contact us at 
              a(href="mailto:support@workshiphq.com") support@workship.com
            p.unprocessable--action How about we try again from the home page?
            a.button(href="https://workshiphq.com/") Go to homepage
          .unprocessable__item
            img(src="/assets/img/workship-422-error.png", alt="422 error")

    script(src="/assets/js/main.js")