@import 'variables';
@import 'globals';
@import 'components';
@import 'header';
@import 'footer';

.index {
  &-hero {
    margin-top: -100px;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 250px;
    padding-bottom: 250px;
    min-height: 800px;
    background-color: $yellow;
    text-align: center;
    background-image: url('../img/workship-index-hero-bg.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;

    &--divider-top {
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      margin: 0;
      width: 100vw;
    }

    @media only screen and (max-width: 1200px) {
      padding-left: 20%;
      padding-right: 20%;
    }

    @media only screen and (max-width: 979px) {
      padding-left: 15%;
      padding-right: 15%;
      background-position: 60% bottom;
    }

    @media only screen and (max-width: 767px) {
      padding-left: 3%;
      padding-right: 3%;
      margin-top: -135px;
      background-position: right bottom;
      -webkit-background-size: 150% 150%;
      -moz-background-size: 150%;
      -o-background-size: 150%;
      background-size: 150%;
    }

    @media only screen and (max-width: 380px) {
      h1 {
        padding-left: 5%;
        padding-right: 5%;
      }
    }
  }

  &-how {
    padding: 50px 0;
    text-align: center;

    &__items {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      padding: 10px 30px;
      min-width: 300px;

      img {
        max-height: 150px;
      }
    }

    p.h3 {
      margin-top: 50px;
      margin-right: 15%;
      margin-left: 15%;

      @media only screen and (max-width: 767px) {
        margin-right: 3%;
        margin-left: 3%;
      }
    }
  }

  &-advantage {
    padding: 100px 15%;
    padding-top: 250px;
    background-color: $yellow;
    text-align: center;
    position: relative;

    &--divider-top {
      position: absolute;
      top: -2px;
      left: 0;
      right: 0;
      margin: 0;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
      width: 100vw;
    }

    h2 {
      margin-bottom: 70px;
    }

    &__items {
      text-align: left;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 50px;
    }

    &__left,
    &__right {
      -webkit-box-flex: 2;
      -webkit-flex: 2;
      -moz-box-flex: 2;
      -ms-flex: 2;
      flex: 2;
      min-width: 300px;

      img {
        max-height: 150px;
        max-width: 200px;
      }
    }

    &__left {
      text-align: center;
    }

    &__right {
      -webkit-box-flex: 3;
      -webkit-flex: 3;
      -moz-box-flex: 3;
      -ms-flex: 3;
      flex: 3;
    }
  }

  &-faq {
    padding: 100px 15%;
    text-align: center;

    @media only screen and (max-width: 767px) {
      padding: 100px 3%;
    }

    &__item {
      border: 1px solid lighten($grey, 50%);
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;
      margin: 30px 0;
      padding: 30px;
      padding-bottom: 20px;
      position: relative;
      text-align: left;

      &--answer {
        display: none;

        &-first {
          display: block;
        }
      }

      &--toggle {
        position: absolute;
        right: 0px;
        top: 17px;
        cursor: pointer;

        img {
          height: 35px;
          width: 35px;
          margin: 10px;
        }
      }
    }
  }

  &-jobs {
    padding-top: 25px;
    padding-bottom: 100px;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;

    @media only screen and (max-width: 767px) {
      padding-left: 3%;
      padding-right: 3%;
    }

    h2 {
      margin-bottom: 50px;
    }

    &__items {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 30px;
      padding-bottom: 15px;
      color: initial;
      border: unset !important;
      margin: 10px 0;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;

      img {
        max-width: 100px;
      }

      &:hover {
        background-color: #f5f5f5;
      }
      
      @media only screen and (max-width: 767px) {
        background-color: #f5f5f5;
      }      
    }

    &__left,
    &__right {
      flex: 1;
      text-align: center;
      padding: 20px;
      min-width: 200px;
    }

    &__right {
      flex: 4;
      text-align: left;

      h3 {
        border-bottom: 1px solid $grey;
      }
    }
  }
}
