<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Page Not Found | Workship
    link(rel="stylesheet", href="https://rsms.me/inter/inter-ui.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700")
    link(rel="stylesheet", href="/assets/css/not-found.css")
    link(rel="shortcut icon", href="/assets/img/workship-icon-16.png")
    link(rel="apple-touch-icon", href="/assets/img/workship-icon-57.png")
    link(rel="apple-touch-icon", href="/assets/img/workship-icon-72.png", sizes="72x72")
    link(rel="apple-touch-icon", href="/assets/img/workship-icon-114.png", sizes="114x114")
  body

    main.error404
      img.error404--top-right(src="/assets/img/workship-not-found-top-right.png", alt="workship pattern")
      img.error404--bottom-left(src="/assets/img/workship-not-found-bottom-left.png", alt="workship pattern")
      .container
        h1 Are you sure you have the right address?
        p Coz the page doesn’t really exist.
        img(src="/assets/img/workship-not-found.png", alt="not found")
        p.error404--action How about we try again from the Home Page?
        a.button(href="https://workshiphq.com/") Go to homepage

    script(src="/assets/js/main.js")